!!!
%html(ng-app='dalton')
  %head
    %title Dalton
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .row
        .col-md-12(style='margin-top: 20px;')
          = yield
    %div(growl='')
